{% load i18n %}
<div class="toast-container position-fixed bottom-0 end-0 p-3" aria-live="polite">
  {% for message in messages %}
    <div class="toast show tl-toast tl-toast-{{ message.level_tag|default:'info' }}"{% if message.level_tag == 'error' %} role="alert" aria-live="assertive"{% else %} role="status"{% endif %} aria-atomic="true">
      <div class="d-flex align-items-center">
        <div class="toast-body">{{ message }}</div>
        <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="{% translate 'Close' %}"></button>
      </div>
    </div>
  {% endfor %}
</div>
