{% extends "base.html" %}
{% load i18n %}
{% block title %}{% translate "Access as administrator" %} - {{ community.name }} - {% translate "Communities" %}{% endblock %}
{% block content %}
  <nav aria-label="{% translate 'Breadcrumb' %}">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'communities:catalogue' %}">{% translate "Communities" %}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'communities:detail' community.slug %}">{{ community.name }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{% translate "Access as administrator" %}</li>
    </ol>
  </nav>
  {% translate "Access as administrator" as page_title %}
  {% blocktranslate with name=community.name asvar page_lead %}You are not a member of {{ name }}. Give the reason why you need to read its content.{% endblocktranslate %}
  {% include "components/page_header.html" with title=page_title lead=page_lead %}
  {% include "components/form_errors.html" with form=form %}
  <section class="tl-section">
    <form method="post" class="tl-form">
      {% csrf_token %}
      {% include "components/form_field.html" with field=form.reason %}
      <div class="tl-form-actions">
        <button type="submit" class="btn btn-primary">{% translate "Access the content" %}</button>
        <a class="btn btn-link" href="{% url 'communities:detail' community.slug %}">{% translate "Cancel" %}</a>
      </div>
    </form>
  </section>
{% endblock %}
