{% extends "base.html" %}
{% load i18n %}
{% block title %}{% translate "Communities catalogue" %} - {% translate "Communities" %}{% endblock %}
{% block content %}
  {% translate "Communities catalogue" as page_title %}
  {% translate "Communities" as page_eyebrow %}
  {% translate "Find the communities of Talan and join the ones that matter to you." as page_lead %}
  {% include "components/page_header.html" with title=page_title eyebrow=page_eyebrow eyebrow_icon="people" lead=page_lead actions_template="communities/_catalogue_actions.html" %}
  <form method="get" action="{% url 'communities:catalogue' %}" role="search" class="tl-toolbar">
    {% for field in form %}
      <div class="flex-grow-1">{% include "components/form_field.html" with field=field %}</div>
    {% endfor %}
    <div class="mb-3"><button type="submit" class="btn btn-primary">{% translate "Filter" %}</button></div>
  </form>
  <p class="tl-meta">{% blocktranslate count counter=page_obj.paginator.count %}{{ counter }} community{% plural %}{{ counter }} communities{% endblocktranslate %}</p>
  {% if page_obj.object_list %}
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-3 mb-4 tl-stagger">
      {% for community in page_obj %}
        <div class="col">
          {% url 'communities:detail' community.slug as community_url %}
          {% if community.full_metadata %}
            {% include "components/community_card.html" with name=community.name url=community_url tagline=community.tagline category=community.category.name member_count=community.member_count access_mode=community.card_access_style access_mode_label=community.get_access_mode_display %}
          {% else %}
            {% include "components/community_card.html" with name=community.name url=community_url category=community.category.name access_mode=community.card_access_style access_mode_label=community.get_access_mode_display %}
          {% endif %}
        </div>
      {% endfor %}
    </div>
  {% else %}
    {% translate "No community matches these filters." as empty_title %}
    {% include "components/empty_state.html" with icon="people" title=empty_title %}
  {% endif %}
  {% include "components/pagination.html" with page_obj=page_obj querystring=querystring %}
{% endblock %}
