{% extends "base.html" %}
{% load i18n %}
{% block title %}{{ title }} - {{ community.name }} - {% translate "Communities" %}{% endblock %}
{% block content %}
  {% include "communities/_manage_tabs.html" %}
  <section class="tl-section" aria-labelledby="confirm-heading">
    <div class="tl-section-header"><h2 id="confirm-heading">{{ title }}</h2></div>
    <p>{{ body }}</p>
    <form method="post" action="{% url 'communities:manage_status' community.slug %}">
      {% csrf_token %}
      <input type="hidden" name="action" value="{{ action }}">
      <div class="tl-form-actions">
        <button type="submit" class="btn btn-danger">{% translate "Confirm" %}</button>
        <a class="btn btn-link" href="{% url 'communities:manage_settings' community.slug %}">{% translate "Cancel" %}</a>
      </div>
    </form>
  </section>
{% endblock %}
