{% extends "base.html" %}
{% load i18n %}
{% block title %}{% translate "Create a user" %} - {% translate "Communities" %}{% endblock %}
{% block content %}
  {% translate "Create a user" as page_title %}
  {% translate "Administration" as eyebrow_label %}
  {% include "components/page_header.html" with title=page_title eyebrow=eyebrow_label eyebrow_icon="shield-lock" %}
  {% include "manage/_tabs.html" with active="create" %}
  <section class="tl-section mt-4" aria-label="{{ page_title }}">
    <form method="post" action="{% url 'manage:user_create' %}" class="tl-form" novalidate>
      {% csrf_token %}
      {% include "accounts/_form_fields.html" %}
      <div class="tl-form-actions"><button type="submit" class="btn btn-primary">{% translate "Create and send the activation email" %}</button></div>
    </form>
  </section>
{% endblock %}
