{% extends "base.html" %}
{% load i18n %}
{% block title %}{% translate "Merge two tags" %} - {% translate "Communities" %}{% endblock %}
{% block content %}
  <h1 class="h2">{% translate "Merge two tags" %}</h1>
  {% include "manage/_tabs.html" with active="tags" %}
  <p class="mt-3">{% blocktranslate with source=source.name target=target.name %}“{{ source }}” will be merged into “{{ target }}” and then deleted.{% endblocktranslate %}</p>
  <ul>
    <li>{% blocktranslate count counter=post_count %}{{ counter }} post will be tagged with the kept tag.{% plural %}{{ counter }} posts will be tagged with the kept tag.{% endblocktranslate %}</li>
    <li>{% blocktranslate count counter=community_count %}{{ counter }} community will be tagged with the kept tag.{% plural %}{{ counter }} communities will be tagged with the kept tag.{% endblocktranslate %}</li>
  </ul>
  <p>{% translate "This cannot be undone." %}</p>
  <form method="post" action="{% url 'manage:tag_merge' %}">
    {% csrf_token %}
    <input type="hidden" name="source" value="{{ source.name }}">
    <input type="hidden" name="target" value="{{ target.name }}">
    <input type="hidden" name="confirm" value="1">
    <button type="submit" class="btn btn-danger">{% translate "Merge" %}</button>
    <a class="btn btn-link" href="{% url 'manage:tag_list' %}">{% translate "Cancel" %}</a>
  </form>
{% endblock %}
