{% extends "base.html" %}
{% load i18n %}
{% block title %}{% translate "Choose a new password" %} - {% translate "Communities" %}{% endblock %}
{% block content %}
  {% if validlink %}
    <h1>{% translate "Choose a new password" %}</h1>
    <form method="post" novalidate>
      {% csrf_token %}
      {% include "accounts/_form_fields.html" %}
      <button type="submit">{% translate "Change my password" %}</button>
    </form>
  {% else %}
    <h1>{% translate "Invalid link" %}</h1>
    <p>{% translate "This password reset link is invalid or has expired. Please request a new one." %}</p>
    <p><a href="{% url 'accounts:password_reset' %}">{% translate "Request a new link" %}</a></p>
  {% endif %}
{% endblock %}
