{% extends "base_minimal.html" %}
{% load i18n %}
{% block title %}{% if validlink %}{% translate "Choose a new password" %}{% else %}{% translate "Invalid link" %}{% endif %} - {% translate "Communities" %}{% endblock %}
{% block content %}
  {% if validlink %}
    <h1>{% translate "Choose a new password" %}</h1>
    <form method="post" novalidate>
      {% csrf_token %}
      {% include "accounts/_form_fields.html" %}
      <button type="submit" class="btn btn-primary">{% translate "Change my password" %}</button>
    </form>
  {% else %}
    <h1>{% translate "Invalid link" %}</h1>
    {% translate "This password reset link is invalid or has expired. Please request a new one." as message %}
    {% include "components/alert.html" with level="danger" text=message %}
    <a class="btn btn-primary w-100 mt-3" href="{% url 'accounts:password_reset' %}">{% translate "Request a new link" %}</a>
  {% endif %}
{% endblock %}
