{% extends "base.html" %}
{% load i18n %}
{% block title %}{% translate "Preferences" %} - {% translate "Communities" %}{% endblock %}
{% block content %}
  <h1 class="h3 mb-4">{% translate "Preferences" %}</h1>
  <form method="post" novalidate>
    {% csrf_token %}
    {% include "accounts/_form_fields.html" %}
    <button type="submit" class="btn btn-primary">{% translate "Save" %}</button>
  </form>
  <h2 class="h4 mt-5">{% translate "My data" %}</h2>
  <p><a href="{% url 'accounts:data_export' %}">{% translate "Download a copy of my data" %}</a></p>
{% endblock %}
