{% extends "base.html" %}
{% load i18n %}
{% block title %}{% translate "Edit my profile" %} - {% translate "Communities" %}{% endblock %}
{% block content %}
  <h1 class="h3 mb-4">{% translate "Edit my profile" %}</h1>
  <form method="post" novalidate>
    {% csrf_token %}
    {% include "accounts/_form_fields.html" %}
    <button type="submit" class="btn btn-primary">{% translate "Save" %}</button>
    <a class="btn btn-outline-secondary" href="{% url 'accounts:profile_me' %}">{% translate "Cancel" %}</a>
  </form>
{% endblock %}
