{% extends "base.html" %}
{% load i18n %}
{% block title %}{% translate "Feed" %} - {% translate "Communities" %}{% endblock %}
{% block content %}
  {% translate "Feed" as feed_title %}
  {% include "components/page_header.html" with title=feed_title eyebrow_icon="newspaper" %}
  {% if page.items %}
    <h2 class="visually-hidden">{% translate "Latest posts of your communities" %}</h2>
    <div id="feed-items">{% include "posts/_feed_page.html" %}</div>
  {% else %}
    {% translate "Your feed is empty" as empty_title %}
    {% translate "Join communities to see their latest posts here." as empty_text %}
    {% translate "Browse communities" as empty_action %}
    {% url "communities:catalogue" as catalogue_url %}
    {% include "components/empty_state.html" with icon="newspaper" title=empty_title text=empty_text action_url=catalogue_url action_label=empty_action %}
  {% endif %}
{% endblock %}
